/* VISUAL GUIDE START*/



.guide {
  border-radius: var(--space1);
  box-shadow: var(--box-shadow2);
  background-color: var(--text-secondary);
  margin-top: 4rem;
  padding: var(--space1);
  min-height: 200px;
  min-width: 200px;

}

.guide__grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 8px;

}

.guide__grid_item {
  background-color: #fff;
  padding: var(--space1);
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

}

@media screen and (min-width: 600px) {
   .guide__grid {
    grid-template-columns: repeat(2, 1fr);
  } 
}

@media screen and (min-width: 900px) {
   .guide__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .guide__grid {
   grid-template-columns: repeat(4, 1fr);
 }
}